@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  /* --font-sansita: var(--font-sansita); */
  --font-monda: var(--font-monda);
  --font-monsterrate: var(--font-monsterrate);
  --font-nova: var(--font-nova);
  --font-montez: var(--font-montez);
}

@custom-variant dark (&:where(.dark, .dark *));

.about{
  background-image: url("/images/vector.png");
  /* background-color: #E74F5C; */
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: right;
}

.hero{
  background-image: url("/images/hero.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}